*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    width: 100%;
    background-color: #e2e50c;
}

nav{
    /*background-color: royalblue;*/
    padding: 30px 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

nav h2{
    font-size: 48px;
    font-weight: 700;
}

nav a{
    font-size: 20px;
    font-weight: 900;
    color: #000;
    text-decoration: none;
}

section{
   /* background-color: blue;*/
    padding: 50px 100px;
}

section .text1{
    /*background-color: red;*/
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.text1 h1{
    font-size: 125px;
    font-weight: 900;
    line-height: 100px;
    font-family: poppins;
}

.text1 .video{
    height: 70px;
    width: 300px;
    background-color: black;
    border-radius: 50px;
    margin: 10px 90px;
    background-image: url(https://images.unsplash.com/photo-1735746693928-e93529fa4d04?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDIxNnxDRHd1d1hKQWJFd3x8ZW58MHx8fHx8);
    background-size: cover;
    padding: 3px;
}

.video .play{
    height: 100%;
    width: 65px;
    background-color: #111;
    border: 2px solid #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play i{
    color: #fff;
    font-size: 30px;
}

section .text2{
    /*background-color: red;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text2 h1{
    font-size: 125px;
    font-weight: 900;
    line-height: 150px;
    font-family: poppins;
}

.text2 p{
    font-size: 30px;
    width: 400px;
    font-weight: 500;
}

.image{
    height: 1200px;
    width: 90%;
    margin-left: 5%;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    background-color: red;
    background-image: url(https://plus.unsplash.com/premium_photo-1673108852141-e8c3c22a4a22?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    position: relative;
    margin-top: 120px;
}

.image .arrow{
    height: 100px;
    width: 100px;
    border-radius: 60%;
    background-color: #000;
    position: absolute;
    right: -1%;
    top: -3%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #6f7689;
}

.arrow i{
    color: #fff;
    font-size: 30px;
}
